.no-outline {
    outline: none !important;
    box-shadow: none !important;
}

/* BACKGROUND MOVE */
.button-background-move {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 5px 10px 5px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-background-move:after {
    content: "";
    background-color: violet;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-background-move:hover:after {
    top: 0px;
    left: 0px;
  }
  