.center-container {
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container to full viewport height */
}


.btn-display{

    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    
    
}

.login-btn{
    margin : 20px;
    /* background-color: green; */
    padding: 5px 15px;
    transition: 1s;

    margin : 10px;
    /* background-color: green; */
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    

}

.login-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  
    /* color: white; */
    /* background-color: rgb(81, 29, 81); */
    border-color: blueviolet;
}
.warning{
    display: none;
}

Link{
    color:black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}
a:hover {
    /* color: white; */
    text-decoration: none;
}

a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0);
  }


  @media only screen and (max-width: 600px) {
    .btn-display{

        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        
        
    }
    
    .login-btn{
        margin : 10px;
        /* background-color: green; */
        background-color: #ffffff;
        padding: 5px 19px;
        color: black;
        border : 0.5px solid black;
        border-radius: 10px;
        border-color: blueviolet;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: 1s;
    
    
    }
    
    .login-btn:hover{
        box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
      
        /* color: white; */
        /* background-color: rgb(81, 29, 81); */
        border-color: blueviolet;
    }
  }


/* @media (max-width: 530px) {

.content{
    display: none;
}

button{
    display: none;
}
header{
    display:none;
}
.warning{
    display: block;
}


} */